[submodule "interopservices"]
	path = interopservices
	branch = vs2017
	url = https://github.com/thnetii/interopservices.git
[submodule "gh-pages-deploy"]
	path = gh-pages-deploy
	url = https://github.com/thnetii/docs.git
	branch = deploy
